<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    Login
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/assets/css/soft-ui.css" rel="stylesheet" />
</head>

<body class="">
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">

            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h1 class="font-weight-bolder text-info text-gradient">Sign In</h1>
                </div>
                <div class="card-body">
                  <form role="form text-left" action="/account/login" method="POST">
                    <label>User Name</label>
                    <div class="mb-3">
                      <input type="text" class="form-control" name="usr" placeholder="Type your username"
                        aria-label="Username" aria-describedby="username-addon" required>
                    </div>
                    <label>Password</label>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                      <input type="password" class="form-control" name="pwd" placeholder="Type your password"
                        aria-label="Password" aria-describedby="password-addon" required>
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign in</button>
                    </div>
                    <br>
                    {{#if err}}
                    <div id="alert-warning" role="alert" class="alert alert-success alert-dismissible">
                      {{err}}
                      <button type="button" class="close" data-dismiss="alert"></button>
                    </div>
                    {{/if}}
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Don't have an account?
                    <a href="/register" class="text-info text-gradient font-weight-bold">Sign up</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6"
                  style="background-image:url('/assets/img/curved-images/curved6.jpg')"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px">
        <div class="col-8 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            Copyright ©
            <script>
              document.write(new Date().getFullYear())
            </script> Anh Tuan.
          </p>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </section>
  </main>
</body>

</html>