* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  height: 70px;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 1px 3px #ccc;
  position: sticky;
  top: 0;
  z-index: 99;
}

nav .nav-left,
nav .nav-right {
  display: flex;
  align-items: center;
}

nav .nav-left > img {
  width: 51px;
  border-radius: 16px;
}
/* nav .nav-left a{
      width: auto;
      height: auto;
  } */

nav .nav-left > input {
  height: 40px;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  outline: none;
  background-color: #eee;
  margin-left: 10px;
}

nav .nav-middle {
  display: flex;
  align-items: flex-end;
  padding-bottom: 5px;
}

nav .nav-middle a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  margin: 0px 33px;
}

nav .nav-middle a:hover {
  background: rgb(233, 223, 223);
}

nav .nav-middle a.active {
  color: royalblue;
  position: relative;
}

nav .nav-middle a.active::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: royalblue;
}

nav .nav-middle a > i {
  font-size: 28px;
}

nav .nav-right .profile,
.container .left-panel .profile {
  /* background: url('https://fontawesome.com/v5.9/icons/birthday-cake?style=solid'); */
  height: 30px;
  width: 30px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

nav .nav-right a {
  text-decoration: none;
  color: #333;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #eee;
  display: grid;
  place-items: center;
  margin-left: 1rem;
}

nav .nav-right a > i {
  font-size: 18px;
}



/* Ranking css */
.ranking-container {
  padding: 20px 15%;
  /* color: #626262; */
  background-color: #f0f1f3;
}

.ranking-details {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  /* height: 570px; */
  width: 1102px;
}


.main-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 81px;
}
.post-box {
  width: 300px;
}
.post-box img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}