<!DOCTYPE html>
<html lang="en">

<head>
  <title>Interesting</title>
  <link rel='stylesheet' href='/assets/css/homepage.css' />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.ckeditor.com/ckeditor5/29.2.0/classic/ckeditor.js"></script>
</head>

<body>
  <nav>
    <div class="nav-left">
      <a href="/user/HomePage">
        <img style="height: 50px;" src="/assets/images/logo11.png" alt="Logo" />
      </a>
      <input type="text" name="search" placeholder="Search Post ...">
    </div>

    <div class="nav-middle">
      <a href="" class="active">
        <i class="fa fa-home"></i>
      </a>

      <a href="#">
        <i class="fa fa-user"></i>
      </a>

      <a href="#">
        <i class="fa fa-bookmark"></i>
      </a>

      <a href="#">
        <i class="fab fa-facebook-messenger"></i>
      </a>
    </div>

    <div class="nav-right">

      <a href="#">
        <i class="fa fa-bell"></i>
      </a>
      <a href="/account/logout">
        <i class="fas fa-share-square"></i>
      </a>
    </div>
  </nav>


  <div class="container">
    <div class="left-panel">
      <div class="intro">
        <div class="avatar">
          <button class="change">
            {{!-- <img src="/assets/img/curved-images/curved0.jpg" alt="Avatar"> --}}
            <img src="/assets/images/member-1.png" alt="Avatar">
          </button>
        </div>
        <ul>
          <li>
            <h2>Anh Tuan</h2>
          </li>
          <li>
            <i class="fas fa-map-marker-alt"> Lives in</i>
          </li>
          <li>
            <i class="fas fa-phone-square-alt"> Phone number is:</i>
          </li>
          <li>
            <i class="fas fa-alarm-clock"> Joined on</i>
          </li>
          <li>
            <i class="fas fa-users"> Freiend:</i>
          </li>
        </ul>
      </div>



      {{!-- <ul>
        <li>
          <span class="profile"></span>
          <p>Anh Tuan</p>
        </li>
        <li>
          <i class="fa fa-user-friends"></i>
          <p>Friends</p>
        </li>
        <li>
          <i class="fa fa-play-circle"></i>
          <p>Videos</p>
        </li>
        <li>
          <i class="fa fa-flag"></i>
          <p><a href="/user/HomePage">Pages</a></p>
        </li>
        <li>
          <i class="fa fa-users"></i>
          <p>Groups</p>
        </li>
        <li>
          <i class="fa fa-bookmark"></i>
          <p>Bookmark</p>
        </li>
        <li>
          <i class="fab fa-facebook-messenger"></i>
          <p>Inbox</p>
        </li>
        <li>
          <i class="fas fa-calendar-week"></i>
          <p>Events</p>
        </li>
        <li>
          <i class="fa fa-bullhorn"></i>
          <p>Ads</p>
        </li>
        <li>
          <i class="fas fa-hands-helping"></i>
          <p>Offers</p>
        </li>
        <li>
          <i class="fas fa-briefcase"></i>
          <p>Jobs</p>
        </li>
        <li>
          <i class="fa fa-star"></i>
          <p>Favourites</p>
        </li>
      </ul> --}}


      <div class="footer-links">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Advance</a>
        <a href="#">More</a>
        <a>
          <p class="mb-0 text-secondary" style="text-align: center;">
            Copyright ©
            <script>
              document.write(new Date().getFullYear())
            </script> Anh Tuan.
          </p>
        </a>
      </div>
    </div>


    <div class="middle-panel">
      <div class="post create">
        <div class="post-top">
          <div class="dp">
            <img src="./images/girl.jpg" alt="">
          </div>
          <input type="text" placeholder="What's on your mind, Aashish ?" />
        </div>

        <div class="post-bottom">
          <div class="action">
            <i class="fa fa-video"></i>
            <span>Live video</span>
          </div>
          <div class="action">
            <i class="fa fa-image"></i>
            <span>Photo/Video</span>
          </div>
          <div class="action">
            <i class="fa fa-smile"></i>
            <span>Feeling/Activity</span>
          </div>
        </div>
      </div>

      <div class="post create">
        <div id="editor">
          <p>...</p>
        </div>
        <script>
          ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
              console.error(error);
            });
        </script>
      </div>

      <div class="post">
        <h3 class="sub-title">Upload new Post</h3>
        <div class="post-top">
          <form action="/user/addPost" method="POST">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Article Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter name of your Post" id="title" name="title"
                  required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Upload Image:
              </label>
              <div class="col-sm-10">
                <input name="postImage" id="postImage" class="form-control" required>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label">Description</label>
              <div class="col-sm-10">
                <textarea id="desc" name="desc" rows="5" cols="5" class="form-control" placeholder="Describe your post"
                  required></textarea>
              </div>
            </div>

            <button type="submit" class="btn btn-primary waves-effect">Submit</button>
          </form>
        </div>
      </div>

      {{!-- post --}}
      <div class="post">
        <div class="post-top">
          <div class="dp">
            <img src="./images/boy.jpg" alt="">
          </div>
          <div class="post-info">
            <p class="name">Priyank Saksena</p>
            <span class="time">1 week ago</span>
          </div>
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="post-content">
          Happy birthday dear
          <img src="./images/girl_with_light.jpg" alt="Mountains">
        </div>
        <div class="post-bottom">
          <div class="action">
            <i class="far fa-thumbs-up"></i>
            <span>Like</span>
          </div>
          <div class="action">
            <i class="far fa-comment"></i>
            <span>Comment</span>
          </div>
          <div class="action">
            <i class="fa fa-share"></i>
            <span>Share</span>
          </div>
        </div>
      </div>

      
      <div class="post">
        <div class="post-top">
          <div class="dp">
            <img src="./images/boy.jpg" alt="">
          </div>
          <div class="post-info">
            <p class="name">Priyank Saksena</p>
            <span class="time">1 week ago</span>
          </div>
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="post-content">
          Happy birthday dear
          <img src="./images/girl_with_light.jpg" alt="Mountains">
        </div>
        <div class="post-bottom">
          <div class="action">
            <i class="far fa-thumbs-up"></i>
            <span>Like</span>
          </div>
          <div class="action">
            <i class="far fa-comment"></i>
            <span>Comment</span>
          </div>
          <div class="action">
            <i class="fa fa-share"></i>
            <span>Share</span>
          </div>
        </div>
      </div>
      {{!-- post --}}

    </div>

    <div class="right-panel">
      <div class="pages-section">
        <h4>Your pages</h4>
        <a class='page' href="#">
          <div class="dp">
            <img src="" alt="">
          </div>
          <p class="name">Cody</p>
        </a>

        <a class='page' href="#">
          <div class="dp">
            <img src="./images/dp.jpg" alt="">
          </div>
          <p class="name">Cody Tutorials</p>
        </a>
      </div>

      <div class="friends-section">
        <h4>Friends</h4>
        <a class='friend' href="#">
          <div class="dp">
            <img src="./images/dp.jpg" alt="">
          </div>
          <p class="name">Henry Mosely</p>
        </a>

        <a class='friend' href="#">
          <div class="dp">
            <img src="./images/shoes.jpg" alt="">
          </div>
          <p class="name">George</p>
        </a>

        <a class="friend" href="#">
          <div class="dp">
            <img src="./images/boy.jpg" alt="">
          </div>
          <p class="name">Aakash Malhotra</p>
        </a>

        <a class="friend" href="#">
          <div class="dp">
            <img src="./images/model.jpg" alt="">
          </div>
          <p class="name">Ragini Khanna</p>
        </a>

        <a class="friend" href="#">
          <div class="dp">
            <img src="./images/boy.jpg" alt="">
          </div>
          <p class="name">Justin Bieber</p>
        </a>

        <a class="friend" href="#">
          <div class="dp">
            <img src="./images/dp.jpg" alt="">
          </div>
          <p class="name">Ramesh GC</p>
        </a>

        <a class="friend" href="#">
          <div class="dp">
            <img src="./images/model.jpg" alt="">
          </div>
          <p class="name">Sajita Gurung</p>
        </a>

      </div>
    </div>
  </div>
  </div>


</body>

</html>