<!DOCTYPE html>
<html lang="en">

<head>
  <title>MediaBook</title>
  <link rel='stylesheet' href='/assets/css/profile.css' />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-left">
      <img src="/assets/images/logo11.png" alt="Logo">
      <input type="text" name="search" placeholder="Search Post ...">
    </div>

    <div class="nav-middle">
      <a href="/user/HomePage">
        <i class="fa fa-home"></i>
      </a>

      <a class="active">
        <i class="fa fa-user"></i>
      </a>

      <a href="/user/Ranking_Post">
        <i class="fa fa-bookmark"></i>
      </a>

      <a href="/user/Messages">
        <i class="fab fa-facebook-messenger"></i>
      </a>
    </div>

    <div class="nav-right">

      <a href="#">
        <i class="fa fa-bell"></i>
      </a>
      <a href="/account/logout">
        <i class="fas fa-share-square"></i>
      </a>
    </div>
  </nav>

  <div class="profile-container">
    {{!-- <img src="/assets/images/curved0.jpg" class="cover-img"> --}}

    <div class="profile-details">
      <div class="pd-row">
        <img src="/assets/images/member-1.png" class="pd-image">
        <div>
          <h3>Anh Tuan</h3>
          <p>100 Friends - 1000 Follower</p>
        </div>
      </div>
    </div>

    <div class="nav-content">
      <a href="/user/Profile">
        <h3>Posts</h3>
      </a>

      <a href="/user/UpdateInfo">
        <h3>Update Infomation</h3>
      </a>

      <a class="active">
        <h3>Change Password</h3>
      </a>
    </div>

    <!-- Main -->
    <div class="mess-container">
      <div class="mess-details">
        <h1 style="text-align: center; margin: 10px;">Change Password</h1>
        <form class="uploadForm" action="#">
          <div class="row">
            <label for="name">Username:<span></span></label>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="pwd">A new Password:</label>
            </div>
            <div class="col-75">
              <input type="password" id="pwd" name="pwd" required>
            </div>
          </div>   
          <div class="row">
            <div class="col-25">
              <label for="repwd">Re-enter Password:</label>
            </div>
            <div class="col-75">
              <input type="password" id="repwd" name="repwd" required>
            </div>
          </div>
          
          <button id="change" type="submit">Update</button>
        </form>
      </div>

      <div class="footer-links">
        <a>
          <p class="mb-0 text-secondary" style="text-align: center; margin-top: 16px;">
            Copyright ©
            <script>
              document.write(new Date().getFullYear())
            </script> Anh Tuan.
          </p>
        </a>
      </div>
    </div>

  </div>


</body>

</html>